################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KP.Repository/.vs/KP.Repository/v14
